.images-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding:0;
    flex-wrap: wrap;
}

.images-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images-content img {
    width: 40rem;
    height: auto;
}

.presentation-image {
    display: flex;
    justify-content: center;
}

.presentation-image img{
    width: 45rem;
    height: auto;
}

.preview {
    display: flex;
    justify-content: center;
}

.preview img{
    width: 29rem;
    height: auto;
}

.website-preview {
    display: flex;
    justify-content: center;
}

.website-preview img {
    width: 45rem;
}

.figma {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-link {
    color: black;
}

.video-link:hover {
    color: #5CBBFF;
}

/* Media Queries for smaller screens (mobile) */
@media (max-width: 768px) {
    nav {
        flex-direction: row; /* Keep the logo on the left */
        justify-content: space-between;
        text-align: center;
        padding: 1rem;
    }

     /* Reduce logo size for mobile */
     .homepage {
        max-width: 60px; /* Adjust logo size */
        margin-bottom: 1rem; /* Add margin for spacing */
    }

    .navigation ul {
        gap: 1rem; /* Add gap between items */
        font-size: 1.3rem; /* Reduce font size on mobile */
    }
    
  .presentation-image img {
        width: 100%;  /* Make the images smaller on mobile */
        height: auto;
        border-width: 0.5rem;
    }

    .caption {
        text-align: center;
    }

}