.image img {
    width: 80%;
    height: auto;
}

.images-content img{
    width: 80%;
    height: auto;
}

/* Media Queries for smaller screens (mobile) */
@media (max-width: 768px) {
    .image img {
        width: 100%;
    }

    .images-content img {
        width: 100%;
    }
}