body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #F8F6F2;
    font-family: Arial;
}

.homepage {
    max-width: 90px;
}

/*Design Section*/
.designs-container {
    padding: 0 2rem 2rem 2rem;
    margin-top: 0;
}

.design-quote {
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.posters {
    display: flex;
    gap: 4rem;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.posters img {
    max-width: 500px;
    height: auto;
    outline: 18px solid #74664B;
    border-radius: 10px;
}