body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #F8F6F2;
    font-family: Arial;
}

.homepage {
    max-width: 90px;
}

/* Top of page*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap; 
    padding-top: 4.5rem;
    padding-bottom: 10.5rem;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    max-width: 40rem;
}

.header-image img {
    max-width: 40rem;
    height: auto;
}

.header-name {
    font-family: "Aesthetic Moment";
    font-size: 5rem;
    margin: 0;
}

.header-blurb {
    font-size: 2rem;
}

.header-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.header-button {
    display: inline-block;
    padding: 10px 10px;
    background-color: #5199FF;
    color:white;
    text-decoration: none;
    border-radius: 1.4rem;
    font-size: 1.5rem;
}

.header-button:hover {
    background-color:#3ECF8E;
    text-decoration: none;
}

.section-title {
    font-family: "Heavitas";
    font-size: 3.5rem;
    color: black;
    text-align: left;
    width: 100%;
}

.work-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.work-cards a {
    text-decoration: none;
}

.case-studies, .gallery {
    width: 35rem;
    height: 40rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border: black 0.15rem solid;
    border-radius: 2rem;
    background-color: rgb(227, 227, 227);
}

/*Design Section*/
.designs-container {
    padding: 0 2rem 2rem 2rem;
    margin-top: 0;
}

.design-quote {
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.posters {
    display: flex;
    gap: 4rem;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.posters img {
    max-width: 500px;
    height: auto;
    outline: 18px solid #74664B;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column; 
        text-align: center; 
        padding: 2rem; 
    }

    .header-image img {
        max-width: 80%; 
        height: auto; 
    }

    .header-info {
        width: 100%; 
    }
}