body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #FBFAEE;
}
.homepage {
    max-width: 90px;
}

/*Top Row Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFAEE;
    padding: 1rem 3rem;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 1.5rem;
    font-family: "Arial";
}

.navigation ul li a {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.navigation ul li:nth-child(1) a:hover {
    color:#5CBBFF;
}
.navigation ul li:nth-child(2) a:hover {
    color:#8BD0A0;
}
.navigation ul li:nth-child(3) a:hover {
    color:#C55E59;
}

/* Top of page*/
.header-container {
    justify-content: center;
    background-color: #FBFAEE;
    padding: 4rem 9rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column; /* Stack elements vertically */
        text-align: center; /* Center the text */
        padding: 2rem; /* Adjust padding for smaller screens */
    }

    .header-image img {
        max-width: 80%; /* Adjust GIF size for mobile */
        height: auto; /* Maintain aspect ratio */
    }

    .header-info {
        width: 100%; /* Ensure text takes full width */
    }
}

.header-name {
    font-family: "Aesthetic Moment";
    font-size: 5rem;
    margin: 0;
}

.header-blurb {
    font-family: "Arial";
    font-size: 2rem;
}

.header-button {
    display: inline-block;
    padding: 10px 10px;
    background-color:#8BD0A0;
    color:white;
    text-decoration: none;
    border-radius: 1.5rem;
    font-family: "Arial";
    font-size: 1.7rem;
}

.header-button:hover {
    background-color:#5CBBFF;
    text-decoration: none;
}

.section-title {
    font-family: "Heavitas";
    font-size: 3.5rem;
    color: black;
    text-align: center;
    width: 100%;
}

/*Projects Section*/
.projects {
    padding: 2rem;
}

.project-title { 
    font-family: "Arial";
    margin: 0;
    font-size: 2.5rem;
}

.project-title a {
    text-decoration: none;
    color: black;
}

.project-title a:hover {
    color:#5CBBFF;
}

.project-type {
    font-family: "Arial";
    font-size: 1.7rem;
    margin-top: 0;
    color:#C55E59;
}

/*Design Section*/
.designs-container {
    max-width: 400rem;
    padding: 0 2rem 2rem 2rem;
    margin-top: 0;
}

.design-quote {
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2.5rem;
    font-family: "Arial";
}

.posters {
    display: flex;
    gap: 4rem;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.posters img {
    max-width: 500px;
    height: auto;
    outline: 18px solid #74664B;
    border-radius: 10px;
}

footer {
    background-color: #8BD0A0;
    text-align: center;
    padding: 1.3rem 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.email img {
    width: 4rem;
    height: auto;
}

.linkedin img {
    width: 4rem;
    height: auto;
}

.footer-message {
    font-size: 3rem;
    font-family: "Alte Haas Grotesk";
}
