body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #F8F6F2;
    font-family: Arial;
}

.homepage {
    max-width: 90px;
}

.section-title {
    font-family: "Heavitas";
    font-size: 3.5rem;
    color: black;
    text-align: center;
    width: 100%;
}

/*Project Section*/
.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 95rem;
    margin: 0 auto;
    padding: 2rem;
}

.project-card {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;  
    text-decoration: none;
}

.project-card:hover h2 {
    color:#5CBBFF;
}

.project-thumbnail img {
    width: 19rem;
    height: 13rem;
    display: flex;
    background-color: white;
    outline: 0.25rem solid gray;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
}

.project-title { 
    margin: 0;
    font-size: 2.25rem;
    white-space: nowrap;
    color: black;
}

.project-type {
    font-size: 1.5rem;
    margin-top: 0;
    color:#C55E59;
}

.project-desc {
    font-size: 1.3rem;
}