body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #FBFAEE;
}
.homepage {
    max-width: 90px;
}

/*Top Row Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFAEE;
    padding: 1rem 3rem;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 1.5rem;
    font-family: "Arial";
}

.navigation ul li a {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.navigation ul li:nth-child(1) a:hover {
    color:#5CBBFF;
}
.navigation ul li:nth-child(2) a:hover {
    color: #A25FBF;
}
.navigation ul li:nth-child(3) a:hover {
    color:#8BD0A0;
}
.navigation ul li:nth-child(4) a:hover {
    color:#C55E59;
}

/*Projects Section*/
.windows {
    border: 0.3rem solid black;
    border-radius: .5rem;
    max-width: 80rem;
    margin: 2rem auto;
    margin-bottom: 5rem;
    padding: 0;
}

.title-bar {
    background-color: #5CBBFF;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.6rem;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-top-left-radius: .15rem;
    border-top-right-radius: .15rem;

}

.title-bar .title-text {
    font-size: 1.5rem;
}

.window-buttons {
    display: flex;
    gap: 0.3rem;
    font-size: 1.75rem;
}

.window-buttons .button {
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    border: 1px solid black;
    background-color: #C0C0C0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track {
    display: flex;
    align-items:top;
    margin: 1rem 0;
    text-align: left;
}

.track-link {
    display: block;
    text-decoration: none;
    color: black;
}

.track-link:hover .track-num,
.track-link:hover .track-title {
    background-color: #ADDDFF;
}

.track-num {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 0.15rem solid black;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;
    color: black;
}

.track-title {
    width: 30rem;
    border: 0.15rem solid black;
    border-radius: 10rem;
    padding: 0.2rem 1rem;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.project-title { 
    display: inline-block;
    font-family: "Arial";
    margin: 0 auto;
    font-size: 2.25rem;
    text-align: center;
    white-space: nowrap;
}

.project-type {
    font-family: "Arial";
    font-size: 1.7rem;
    margin-top: 0;
    color:#C55E59;
}

footer {
    background-color: #8BD0A0;
    text-align: center;
    padding: 1.3rem 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.email img {
    width: 4rem;
    height: auto;
}

.linkedin img {
    width: 4rem;
    height: auto;
}

.footer-message {
    font-size: 3rem;
    font-family: "Arial";
}
