body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #FBFAEE;
}
.homepage {
    max-width: 90px;
}

/*Top Row Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFAEE;
    padding: 1rem 3rem;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 1.5rem;
    font-family: "Arial";
}

.navigation ul li a {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.navigation ul li:nth-child(1) a:hover {
    color:#5CBBFF;
}
.navigation ul li:nth-child(2) a:hover {
    color:#8BD0A0;  
}
.navigation ul li:nth-child(3) a:hover {
    color: #A25FBF;
}
.navigation ul li:nth-child(4) a:hover {
    color:#C55E59;
}

.content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: "Arial";
}

.back-button {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
}

.back-button:hover {
    color: #8BD0A0;
}

.playing {
    border: 0.15rem solid black;
    border-radius: 1rem;
    background-color:#E4EBF1;
    max-width: 60rem;
    padding: 0.5rem;
    margin: 0 auto;
    box-shadow: 0rem 0.5rem .5rem rgba(0,0,0, 0.25);
}

.currently-playing {
    text-align: center;
    font-size: 1.25rem;
}

.members {
    font-size: 1.3rem;
    margin: 0 auto;
    text-align: center;
    white-space: normal;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.control-icon {
  background-color: #C9D6E1;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general {
    padding-top: 0.75rem;
}

.project-title {
    text-align: center;
    font-size: 3rem;
}

.project-summary {
    font-size: 1.5rem;
}

.section-title {
    font-size: 2rem;
    margin: 0;
    padding-top: 1rem;
    color: #4B1D1B;
}

.section-text {
    font-size: 1.2rem;
}

.research img{
    width: 45rem;
    height: auto;
}

.research-other {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.images-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding:0;
    flex-wrap: wrap;
}

.images-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images-content img {
    width: 40rem;
    height: auto;
}

.presentation-image {
    display: flex;
    justify-content: center;
}

.presentation-image img{
    width: 45rem;
    height: auto;
}

.doc-link {
    color:black;
    font-size: 1.3rem;
}

.doc-link:hover{
    color:#5CBBFF;
}

.link {
    color: black;
}

.link:hover {
    color:white;
}

.windows {
    border: 0.3rem solid black;
    border-radius: .5rem;
    margin: 2rem auto;
    width: fit-content;
    max-width: min-content;
    box-shadow: 0.5rem 0.5rem .5rem rgba(0,0,0, 0.25);
}

.title-bar {
    background-color: #5CBBFF;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.3rem 0.6rem;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-top-left-radius: .15rem;
    border-top-right-radius: .15rem;
}

.title-bar .title-text {
    font-size: 1.3rem;
}

.window-buttons {
    display: flex;
    gap: 0.3rem;
    font-size: 1.75rem;
}

.window-buttons .button {
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    border: 1px solid black;
    background-color: #C0C0C0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #8BD0A0;
    text-align: center;
    padding: 1.3rem 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}

.email img {
    width: 4rem;
    height: auto;
}

.linkedin img {
    width: 4rem;
    height: auto;
}

.footer-message {
    font-size: 3rem;
    font-family: "Arial";
}

/* Media Queries for smaller screens (mobile) */
@media (max-width: 768px) {
    nav {
        flex-direction: row; /* Keep the logo on the left */
        justify-content: space-between;
        text-align: center;
        padding: 1rem;
    }

     /* Reduce logo size for mobile */
     .homepage {
        max-width: 60px; /* Adjust logo size */
        margin-bottom: 1rem; /* Add margin for spacing */
    }

    .navigation ul {
        gap: 1rem; /* Add gap between items */
        font-size: 1.3rem; /* Reduce font size on mobile */
    }
    
  .research img,
  .images-content img,
  .presentation-image img {
        width: 100%;  /* Make the images smaller on mobile */
        height: auto;
        border-width: 0.5rem;
    }

    .caption {
        text-align: center;
    }

}