body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #F8F5DF;
}
.homepage {
    max-width: 90px;
}

/*Top Row Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F5DF;
    padding: 1rem 3rem;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 1.5rem;
    font-family: "Alte Haas Grotesk";
}

.navigation ul li a {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.navigation ul li a:hover{
    color:#F2CE16;
    text-decoration: none;
}

.content {
    padding: 2rem;
    font-family: "Alte Haas Grotesk";
}

.general {
    background-color: #F2A469;
    padding: 2rem;
    padding-bottom: 1rem;
}

.project-title {
    font-size: 3rem;
}

.project-summary {
    font-size: 1.5rem;
}

.title {
    font-size: 2rem;
    margin: 0;
    padding-top: 1rem;
}

.members {
    font-size: 1.5rem;
    margin: 0;
}

.section-text {
    font-size: 1.2rem;
}

.caption {
    margin: 0;
    font-size: 1.2rem;
}

.research img{
    width: 45rem;
    height: auto;
    border: 1rem solid #74664B;
}

.research-other {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.images-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:0;
}

.images-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
}

.images-content img {
    width: 40rem;
    height: 30rem;
    border: 1rem solid #74664B
}

.presentation-image {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.presentation-image img{
    width: 45rem;
    outline: 1rem solid #74664B;
}

.doc-link {
    color:black;
    font-size: 1.3rem;
}

.doc-link:hover{
    color:#F2CE16
}

footer {
    background-color: #61BF5E;
    text-align: center;
    padding: 1.3rem 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}

.email img {
    width: 4rem;
    height: auto;
}

.linkedin img {
    width: 4rem;
    height: auto;
}

.footer-message {
    font-size: 3rem;
    font-family: "Alte Haas Grotesk";
}
