.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 90%;
    height: 85%;
    border: .75rem solid gray;
    border-top: 3rem solid gray;
    border-radius: 0.25rem;
}

.popup-content iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: -3.75rem;
    right: 0rem;
    cursor: pointer;
    font-size: 3rem;
}

.close:hover {
    color: white;
}