.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 90%;
    height: 85%;
    border: .75rem solid gray;
    border-top: 3rem solid gray;
    border-radius: 0.25rem;
}

.popup-content iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.popup.design .popup-content {
    width: 70vw;
    max-width: 90vw;
    aspect-ratio: 4 / 3;
    height: auto;
    border: none;
    border-top: none;
}

.popup.design #design-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.popup.design #post-text {
    padding: 1.75rem;
    padding-top: 3.5rem;
    font-family: "Instagram Sans";
    font-size: 1.5rem;    
}

#post-text hr {
    width: 100%;
    margin: 0;
    display: block;
    align-self: stretch;
}

.close {
    position: absolute;
    top: -3.75rem;
    right: 0rem;
    cursor: pointer;
    font-size: 3rem;
}

.close:hover {
    color: white;
}

.popup.design .close {
   top: -1rem;
   right: 0.5rem;
}

.popup.design .close:hover {
    color: lightgray;
}