body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #FBFAEE;
}
.homepage {
    max-width: 90px;
}

/*Top Row Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFAEE;
    padding: 1rem 3rem;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 1.5rem;
    font-family: "Arial";
}

.navigation ul li a {
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.navigation ul li:nth-child(1) a:hover {
    color:#5CBBFF;
}
.navigation ul li:nth-child(2) a:hover {
    color:#8BD0A0;  
}
.navigation ul li:nth-child(3) a:hover {
    color: #C55E59;
}

.content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: "Arial";
}

.top-page {
    background-color: #9beeff;
    padding: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.back-button {
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    align-self: flex-start;
}

.back-button:hover {
    color: #8BD0A0;
}

.header-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.project-title {
    text-align: center;
    font-size: 4.5rem;
}

.members {
    font-size: 1.5rem;
    margin: 0 auto;
}

.general {
    padding-top: 1.5rem;
}

.project-summary {
    font-size: 1.5rem;
}

.section-title {
    font-size: 2rem;
    margin: 0;
    padding-top: 1rem;
    color: #4B1D1B;
}

.section-text {
    font-size: 1.25rem;
}

.doc-link {
    color:black;
    font-size: 1.25rem;
}

.doc-link:hover{
    color:#5CBBFF;
}

.research img{
    width: 45rem;
    height: auto;
}

.research-other {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.images-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding:0;
    flex-wrap: wrap;
}

.images-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images-content img {
    width: 40rem;
    height: auto;
}

.presentation-image {
    display: flex;
    justify-content: center;
}

.presentation-image img{
    width: 45rem;
    height: auto;
}

.video {
    display: flex;
    justify-content: center;
}

.video video {
    width: 875px;
    height: auto;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.video-text {
    font-size: 1.5rem;
}

.alt-link {
    font-size: 1.25rem;
    font-family: Arial;
}

footer {
    background-color: #8BD0A0;
    text-align: center;
    padding: 1.3rem 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}

.email img {
    width: 4rem;
    height: auto;
}

.linkedin img {
    width: 4rem;
    height: auto;
}

.footer-message {
    font-size: 3rem;
    font-family: "Arial";
}

/* Media Queries for smaller screens (mobile) */
@media (max-width: 768px) {
    nav {
        flex-direction: row; /* Keep the logo on the left */
        justify-content: space-between;
        text-align: center;
        padding: 1rem;
    }

     /* Reduce logo size for mobile */
     .homepage {
        max-width: 60px; /* Adjust logo size */
        margin-bottom: 1rem; /* Add margin for spacing */
    }

    .navigation ul {
        gap: 1rem; /* Add gap between items */
        font-size: 1.3rem; /* Reduce font size on mobile */
    }
    
  .research img,
  .images-content img,
  .presentation-image img {
        width: 100%;  /* Make the images smaller on mobile */
        height: auto;
        border-width: 0.5rem;
    }

    .caption {
        text-align: center;
    }

}