.images-content img,
.image img {
    width: 70%;
    height: auto;
}

/* Media Queries for smaller screens (mobile) */
@media (max-width: 768px) {
    .images-content img,
    .image img {
        width: 100%;
    }

}