/*Footer section*/
footer {
    background-color: #8BD0A0;
    text-align: center;
    padding: 1.3rem 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    gap:0.5rem;
    justify-content: center;
    align-items: center;
}

.email img {
    width: 4rem;
    height: auto;
}

.linkedin img {
    width: 4rem;
    height: auto;
}

.footer-message {
    font-size: 3rem;
    font-family: "Arial";
}