/*Top Row Navigation*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    gap: 1.5rem;
    background: rgba(162, 162, 162, 0.175);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
}

.navigation ul li, .navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.navigation ul li a > .dropdown {
    border-radius: 1rem;
}

.navigation ul li:nth-child(1) a:hover {
    color:#5CBBFF;
}
.navigation ul li:nth-child(2) a:hover {
    color:#8BD0A0;  
}
.navigation ul li:nth-child(3) a:hover {
    color:#C55E59;
}

/*Dropdown menu*/
.dropdown > .dropdown-menu {
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    background: white;
    white-space: nowrap;
}

.navigation ul li.dropdown > .dropdown-menu {
    border-radius: 1rem;
    padding: 0.75rem;
    min-width: 100%;
    margin-left: -.25rem;
}

.navigation ul li.dropdown > .dropdown-menu li a{
    font-size: 1.25rem;
}