body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #f8f6f2;
    font-family: Arial;
}

/*Page content*/
.content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: "Arial";
}

.top-page {
    background-color: #A1D1B7;
    padding: 1.5rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
}

.back-button {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    align-self: flex-start;
}

.back-button:hover {
    color: white;
}

.header-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-title {
    font-size: 4.5rem;
    margin: 0;
}

.members {
    font-size: 1.5rem;
    margin: 0 auto;
}

.general {
    padding-top: 1.5rem;
}

.project-summary {
    font-size: 1.5rem;
    margin-top: 0.25rem;
}

.section-title {
    font-size: 2rem;
    margin: 0;
    padding-top: 1rem;
    color: #4B1D1B;
}

.section-text {
    font-size: 1.35rem;
    margin-top: 0.25rem;
}

.doc-link {
    color: black;
    font-size: 1.3rem;
}

.doc-link:hover {
    color: #5CBBFF;
}

.images-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    gap: 2rem;
}

.images-content,
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.images-content img,
.image img {
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.15);
    outline: 0.15rem solid black;
}

.caption {
    padding-top: 1.5rem;
    font-size: 1.25rem;
}

.video {
    display: flex;
    justify-content: center;
}

.video video {
    width: 875px;
    height: auto;
    outline: 0.15rem solid black;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.video-link,
.link {
    color: black;
}

.video-link:hover,
.link:hover {
    color: #5CBBFF;
}

.alt-link {
    font-size: 1.25rem;
}