body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    background-color: #f8f6f2;
    font-family: Arial;
}

/*Top of page*/
.top-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A1D1B7;
    padding: 1.5rem;
    height: auto;
    width: 70%;
    margin: 0 auto;
    border-radius: 2rem;
}

.back-button {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    align-self: flex-start;
}

.back-button:hover {
    color: white;
}

.project-title {
    font-size: 4.5rem;
    margin: 0;
}

.members {
    font-size: 1.5rem;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.665);
    padding: 1rem;
}

/*Body of page*/
.content {
    margin: 0 auto;
    max-width: 70%;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.general {
    padding-top: 1.5rem;
}

.project-summary {
    font-size: 1.5rem;
    margin-top: 0.25rem;
}

.section-title {
    font-size: 2rem;
    margin: 0;
    padding-top: 1rem;
    color: #4B1D1B;
}

.section-text {
    font-size: 1.35rem;
    margin-top: 0.25rem;
}

.doc-link {
    color: black;
    font-size: 1.3rem;
}

.doc-link:hover {
    color: #5CBBFF;
}

/*Images*/
.images-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    gap: 2rem;
}

.images-content,
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.images-content {
    flex: 1 1 45%;
    max-width: 70rem;
}

.image {
    margin-bottom: 1.5rem;
}

.images-content img,
.image img {
    box-shadow: 0 0.75rem 1rem rgba(0, 0, 0, 0.15);
    outline: 0.15rem solid black;
}

.caption {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

/*Demos/Videos*/
.video {
    display: flex;
    justify-content: center;
}

.video video {
    width: 875px;
    height: auto;
    outline: 0.15rem solid black;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.video-link,
.link {
    color: black;
}

.video-link:hover,
.link:hover {
    color: #5CBBFF;
}

.alt-link {
    font-size: 1.25rem;
}

/*Figma*/
.figma {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
 }