
<nav>
    <a href="/index.html"><img class="homepage" src="/images/home-icon.png" alt="Icon drawing"></a>
    <div class="navigation">
      <ul>
        <li class="dropdown"><a href="javascript:void(0)"><strong>work</strong></a>
          <ul class="dropdown-menu">
            <li><a href="projects.html">case studies</a></li>
            <li><a href="gallery.html">gallery</a></li>
          </ul>
        </li>
        <li><a href="about.html"><strong>about</strong></a></li>
        <li><a href="Hamilton Ko - Resume.pdf" target="_blank"><strong>resume</strong></a></li>
      </ul>
    </div>
  </nav>