.image img{
    width: 40%;
    height: 60%;
}

.images-content img {
    width: 70%;
    height: auto;
}

.image img.team-image {
    width: 60%;
    height: auto;
    margin-top: 2rem;
}

/* Media Queries for smaller screens (mobile) */
@media (max-width: 768px) {
    .image img,
    .images-content img,
    .images img.team-image {
        width: 100%;
    }
}