.images-content img {
    width: 34rem;
    height: auto;
}

/* Media Queries for smaller screens (mobile) */
@media (max-width: 768px) {
   .project-title {
    font-size: 2.9rem;
    text-align: center;
   }

   .images-content img {
    width: 100%;
   }

}